table, th, td {
  border: 1px solid black;
  border-radius: 10%;
  }


#img {
    text-align: center;

}

body {
  background-color: rgb(222, 198, 235);
}

th {
  color: rgb(82, 11, 112);
}

p {
  font-family: verdana;
  font-size: 20px;
  color: rgb(82, 11, 112);
}


.c{ 
  text-align: center;
}

.h{ 
  text-align: center;
}

#imagem {
  text-align: center;

}

th {
height: 40px;
}

table{
  width: 100%;
  margin-bottom : .5em;
  table-layout: fixed;
  text-align: center;
}
td {
  padding: .7em;
  margin: 0;
  /*border: 1px solid #ccc;*/
  text-align: center;
}

tr{
  background-color: rgb(181, 146, 196);
}

td{
  background-color: #f0f0f0;
}

.primeiro {
  color: rgb(200, 23, 206);
}

.segundo {
  color: rgb(19, 164, 201);
}

.terceiro {
  color: rgb(200, 23, 206);
}


.quarto {
  color: rgb(200, 23, 206);
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(38, 8, 51);
  color: rgb(255, 255, 255);
  text-align: center;
}

.imagem {
  border-radius: 5px;

}

color b j{
font-size: small;
}





