#img {
    text-align: center;

}

body {
  background-color: rgb(213, 191, 223);
}

th {
  color: rgb(109, 14, 146);
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: rgb(138, 0, 192);
}


#imagem {
  text-align: center;

}

th {
  text-align: left;
}