#img {
    text-align: center;

}

body {
  background-color: rgb(222, 198, 235);
}

th {
  color: rgb(82, 11, 112);
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: rgb(128, 18, 175);
  text-align: center;
}


#imagem {
  text-align: center;

}


table {
  width: 100%;
}

th {
  height: 70px;
}

table{
  width: 100%;
  margin-bottom : .5em;
  table-layout: fixed;
  text-align: center;
}
td, th {
  padding: .7em;
  margin: 0;
  /*border: 1px solid #ccc;*/
  text-align: center;
}

tr{
  background-color: rgb(181, 146, 196);
}
td{
  background-color: #f0f0f0;
}


.color #segundo {
  color:#3b1f69;
}






.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  rgb(225, 203, 235);
  color: rgb(0, 0, 0);
  text-align: center;
}
